.deck {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

#revealedCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}