.deck {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#revealedCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#pot {
    color: white;
    text-align: center;
}