body {
    display: block;
}

.tableDiv{
    background-color:bisque;
}

#Box-1 {
    grid-column: 1;
    grid-row: 1;
}

#Box-2 {
    grid-column: 2;
    grid-row: 1;
}

#Box-3 {
    grid-column: 3;
    grid-row: 1;
}

#Box-4 {
    grid-column: 3;
    grid-row: 2;
}

#deck {
    grid-column: 2;
    grid-row: 2;
}

#Box-5 {
    grid-column: 3;
    grid-row: 3;
}

#Box-6 {
    grid-column: 2;
    grid-row: 3;
}

#Box-7 {
    grid-column: 1;
    grid-row: 3;
}

#Box-8 {
    grid-column: 1;
    grid-row: 2;
}